import { StyleSheet, Dimensions } from 'react-native';

const { height } = Dimensions.get('window');

const styles = StyleSheet.create({
  background: {
    flexGrow: 1,
    backgroundColor: 'white',
  },
  container: {
    width: '80%',
    justifyContent: 'center',
    alignSelf: 'center',
  },
  backButton: {
    position: 'absolute',
    top: height * 0.05,
  },
  backIcon: {
    width: 30,
    height: 30,
  },
  title: {
    fontSize: 28,
    fontWeight: '500',
    color: '#1D1E1D',
    top: height * 0.12,
    fontFamily: 'Poppins_600SemiBold',
  }, 
text: {
  fontSize: 16,
  color: '#6E6E6E',
  fontFamily: 'Poppins_400Regular',
  top: height * 0.14,
  textAlign: 'justify',
  alignItems: 'center',
},
miniTitleSenha: {
    fontSize: 14,
    fontWeight: '500',
    color: '#6E6E6E',
    marginBottom: 5,
    fontFamily: 'Poppins_500Medium',
    top: height * 0.16,
  },
  miniTitleRepeat: {
    fontSize: 14,
    fontWeight: '500',
    color: '#6E6E6E',
    marginBottom: 5,
    fontFamily: 'Poppins_500Medium',
    top: height * 0.17,
  },
formContainer: {
  width: '100%',
},
inputSenha: {
    backgroundColor: '#FFF',
    borderWidth: 1,
    borderColor: '#E5E7E7',
    borderRadius: 18,
    paddingTop: 15,
    top: height * 0.16, // 10% of the screen height
    paddingBottom: 12,
    paddingHorizontal: 20,
    fontSize: 16,
    color: '#ABB0AF',
    fontFamily: 'Poppins_400Regular',
  },
  inputRepeat: {
    backgroundColor: '#FFF',
    borderWidth: 1,
    borderColor: '#E5E7E7',
    borderRadius: 18,
    paddingTop: 15,
    top: height * 0.17, // 10% of the screen height
    paddingBottom: 12,
    paddingHorizontal: 20,
    fontSize: 16,
    color: '#ABB0AF',
    fontFamily: 'Poppins_400Regular',
  },
  eyeIcon: {
    position: 'absolute', 
    right: 20,
    top: height * 0.185,
  },
  eyeIconRepeat: {
    position: 'absolute', 
    right: 20,
    top: height * 0.195,
  },
  buttonContainer: {
    position: 'absolute',
    bottom: height * 0.05,
    left: 0,
    right: 0,
    alignItems: 'center',
  },
  nextButton: {
    backgroundColor: '#FF7800',
    paddingVertical: 10,
    borderRadius: 25,
    elevation: 2,
    shadowColor: '#000',
    shadowOffset: { width: 0, height: 2 },
    shadowOpacity: 0.25,
    shadowRadius: 3,
    width: '80%',
    alignSelf: 'center',
  },
  nextButtonText: {
    color: '#fff',
    fontSize: 16,
    textAlign: 'center',
    padding: 1,
    fontFamily: 'Poppins_600SemiBold',
  },
});

export default styles;
